.box {
  // background-color: #eee8f1;
  min-height: 700px;
  width: 100%;
  padding: 80px 0px;
}
.search {
  height: 49px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0px 15px;
  color: white;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 10px;
  
}
::placeholder{
  color:white;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.category-card {
  min-width: 100px;
  padding: 8px 17px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(219, 211, 211);
  border-radius: 28px;
  height: fit-content;
  margin: 10px;
}
.category-card:hover {
  color: black;
  background-color: rgb(196, 189, 189);
  cursor:pointer;
}
.card-title {
  margin: 0px;
}

.search-tags {
  flex-wrap: wrap;
  // background-color: rgba(155, 175, 185, 0.473);
  background-color: rgba(172, 163, 184, 0.76);
  background-repeat: no-repeat;
  background-size: cover;
  padding:10px 20px 20px 20px;
}

.select {
  height: 49px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0px 15px;
  color: white;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  option{
    color:black;
    height:50px;
  }
}


.popular-categories {
  display: flex;
  align-items: center;
}
.books-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 400px;
  background-color: transparent;
  padding: 20px 28px;
}
.book-card {
  width: 21%;
  height: 300px;
  margin-bottom: 30px;
  // transition: transform .8s;
  // cursor:pointer;
}
// .book-card:hover{
//   -ms-transform:scale(1.1);
//   -webkit-transform:scale(1.1);
//   transform:scale(1.1);
//   opacity:0.9;
// }

.search-btn {
  border: 2px solid white;
  background-color: #c7c1c9;
  margin-left: 10px;
  padding: 0px;
  width: 100px;
  height: 40px;
  border-radius: 45px;
}

.background-circle {
  width: 100px;
  height: 100px;
  z-index: -1;
  position: absolute;
}

.purple {
  background-color: #50424f;
  top: 100px;
  left: 50px;
}

.blue {
  background-color: #151a6a;
  top: 120px;
  right: 50px;
}

.pink {
  background-color: rgb(179, 28, 103);
  top: 220px;
  left: 180px;
}

.background-line {
  position: absolute;
  height: 30px;
  transform: skewY(-40deg);
  border-radius: 10%;
  z-index: -1;
}
.upper-right-pink{
  background-color: rgba(139, 38, 114, 0.466);
  right: 0px;
  top: 540px;
  width: 450px;
}
.upper-left-blue {
  background-color: #151a6a;
  left:0px;
  top:600px;
  width:350px;
}
.bottom-left-circle{
  background-color: #81387e;
  width:250px;
  height:250px;
  transform: skewY(-40deg);
  border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    z-index:-1;
    position:absolute;
    bottom:-900px;
    right:0px;
}
.popular-categories{
  padding-left:10px;
}



@media only screen and (max-width: 575px) {
 
 .tags{
   flex-wrap:wrap;
 }
  .book-card{
    width:45%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tags{
    flex-wrap:wrap;
  }
  .book-card{
    width:33%;
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .tags{
    flex-wrap:wrap;
  }
  .book-card{
    width:26%;
  }
}