<div class="box">
  <div class="background-circle purple"></div>
  <div class="background-circle blue"></div>
  <div class="background-circle pink"></div>
  <div class="background-line upper-right-pink"></div>
  <div class="background-line upper-left-blue"></div>
  <div class="bottom-left-circle"></div>
  <div class="d-flex search-tags">
    <h1 class="text-center col-12">Books Search</h1>
    <div class="col-3 search-div d-flex">
      <input
        type="text"
        class="form-control search"
        id="intitle"
        placeholder="Book Title"
        name="intitle"
        autocomplete="off"
        [(ngModel)]="searchParams.intitle"
      />
    </div>
    <div class="col-3 search-div d-flex">
      <input
        type="text"
        class="form-control search"
        id="inauthor"
        name="inauthor"
        placeholder="Author"
        autocomplete="off"
        [(ngModel)]="searchParams.inauthor"
      />
    </div>
    <div class="col-3 search-div d-flex">
      <input
        type="search"
        class="form-control search"
        id="inpublisher"
        name="inpublisher"
        placeholder="Publisher"
        autocomplete="off"
        [(ngModel)]="searchParams.inpublisher"
      />
    </div>
    <div class="col-3 search-div d-flex">
      <input
        type="search"
        class="form-control search"
        id="isbn"
        name="isbn"
        placeholder="ISBN"
        autocomplete="off"
        [(ngModel)]="searchParams.isbn"
      />
    </div>
    <div class="col-3 search-div d-flex">
      <select class="form-select select" id="subject" name="subject" 
       [(ngModel)]="searchParams.subject">
        <option selected>Choose Category</option>
        <option *ngFor="let category of allCategories" [value]="category">{{category | titlecase}}</option>
      </select>
    </div>
    <div class="col-3 search-div d-flex">
      <select class="form-select select" id="langRestrict" name="langRestrict" [(ngModel)]="searchParams.langRestrict">
        <option selected>Choose Language</option>
        <option *ngFor="let language of Languages | keyvalue" [value]="language.value">{{language.key}}</option>
      </select>
    </div>
    <div class="col-3 search-div d-flex">
      <select class="form-select select" id="filter" name="filter" [(ngModel)]="searchParams.filter">
        <option selected>Filter by</option>
        <option value="free-ebooks">Free E-Books</option>
        <option value="full">Full Preview</option>
        <option value="partial">Partial Preview</option>
      </select>
    </div>
    <div class="col-3 search-div d-flex">
      <select class="form-select select" id="orderBy" name="orderBy" [(ngModel)]="searchParams.orderBy">
        <option selected>Order by</option>
        <option value="newest">Newest</option>
        <option value="relevance">Relevance</option>
      </select>
    </div>

    <div class="categories-list d-flex col-12">
      <button class="search-btn" (click)="getFilteredBooks()">Search</button>
      <div class="d-flex tags">
        <div class="popular-categories">
          <h6><i>Popular Categories:</i></h6>
        </div>
        <div class="category-card" *ngFor="let item of categories" (click)="getBooksByCategories(item)"
        [class.activeCategory]="activeCategory.toLowerCase()===item.toLowerCase()">
          <h6 class="card-title">#{{ item }}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="books-container mt-3">
    <div class="book-card" *ngFor="let book of booksArray | paginate: { itemsPerPage: 10, currentPage: p }">
      <app-book-default-card [book]="book" [isInWishlist]="isInWishlist(book)" [isInShoppingCart]="isInShoppingCart(book)" (bookDetailsEvent)="showBookDetails($event)" (wishlistEvent)="addToWishlist($event)" (shoppingEvent)="addToCart($event)" (deleteFromWishlistEvent)="deleteFromWishlist($event)" (deleteFromShoppingEvent)="deleteFromCart($event)"></app-book-default-card>
    </div>
    <div *ngIf="!booksArray?.length" class="no-results col-10 mx-auto text-center">
      <h2 class="text-secondary">No Results Found</h2>
    </div>
  </div>
  <div class="mt-5 pagination-container" *ngIf="booksArray?.length>10">
    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
    </div>
</div>
