<div class="main col-12">
    <div class="col-8 users-cont">
        <h2 class="mb-3">Online Bookstore Users</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" (click)="navigateToOptions(user)">
              <th scope="row">{{ users.indexOf(user) + 1 }}</th>
              <td>{{user.name}}</td>
              <td>{{user.surname}}</td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
