.main {
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px;
  }

  tr:hover{
    cursor:pointer;
  }

  .users-cont{
    margin-right:10%;
    margin-top:25px;
  }