<div class="box">
  <div class="background-rectangle purple"></div>
  <div class="background-rectangle blue"></div>
  <div class="background-rectangle pink"></div>
  <div class="background-circle"></div>
  <div class="container user mt-3">
    <div class="profile-img">
      <img [src]="profilePictureURL" alt="" />
      <div class="file btn btn-lg btn-primary">
        Change Photo
        <input type="file" name="file" accept="image/*" (change)="showPreviewImage($event)"/>
      </div>
      <div class="info-text-div">
        <div class="errorText">
          <div
            class="alert alert-danger alert-div"
            *ngIf="firebaseAuthService.errorMessage || oldPasswordIsInvalid() || passwordIsInvalid() || confirmPasswordIsInvalid()"
          >
            <p class="m-0">{{ firebaseAuthService.errorMessage }}</p>
            <em class="required" *ngIf="oldPasswordIsInvalid()"> * Your Current Password is Required *</em> 
            <em class="required" *ngIf="passwordIsInvalid()"> * Required Pattern: min(6), max(20) characters; Use all kind of
                Characters *
              </em>
              <em class="required" *ngIf="confirmPasswordIsInvalid()"
              > * Required. Passwords must match! *
            </em> 
          </div>
          <div
            class="alert alert-primary"
            *ngIf="firebaseAuthService.infoMessage"
          >
            <p class="m-0">{{ firebaseAuthService.infoMessage }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 ps-5">
      <h5>Natia Chubinidze</h5>
      <form>
        <div class="col-11 d-flex input">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control info"
            id="name"
            name="name"
            placeholder="Name"
            [(ngModel)]="profileInfo.name"
          />
        </div>
        <div class="col-11 d-flex input">
          <label for="surname">Surname</label>
          <input
            type="text"
            class="form-control info"
            id="surname"
            name="surname"
            placeholder="Surname"
            [(ngModel)]="profileInfo.surname"
          />
        </div>
        <div class="col-11 d-flex input">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control info"
            id="address"
            name="address"
            placeholder="Address"
            [(ngModel)]="profileInfo.address"
          />
        </div>
      </form>
        <hr />
        <form [formGroup]="resetForm">
        <h6>Change Password</h6>
        <div class="col-11 d-flex input">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control info"
            id="password"
            name="oldPassword"
            formControlName="oldPassword"
            placeholder="Password"
            [ngClass]="{ 'is-invalid': oldPasswordIsInvalid() }"
            [attr.disabled]="!firebaseAuthService.isSignedInWithEmail ? true : null"
          />
        </div>
        <div class="col-11 d-flex input">
          <label for="new-password">New Password</label>
          <input
            type="password"
            class="form-control info"
            name="password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': passwordIsInvalid() }"
            id="new-password"
            placeholder="New Password"
            [attr.disabled]="!firebaseAuthService.isSignedInWithEmail ? true : null"
          />
        </div>
        <div class="col-11 d-flex input">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            class="form-control info"
            id="confirm-password"
            name="confirmPassword"
            formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': confirmPasswordIsInvalid() }"
            placeholder="Confirm Password"
            [attr.disabled]="!firebaseAuthService.isSignedInWithEmail ? true : null"
          />
        </div>
      </form>
    </div>
    <div class="buttons col-1">
      <div>
        <button class="mb-3 clear" (click)="clearProfileInfo()">Clear All</button>
        <button class="save" (click)="saveProfileInfo()"> Save</button>
      </div>
      <div
        class="col-12 mx-auto"
        (mouseenter)="buttonHover = true"
        (mouseleave)="buttonHover = false"
      >
        <button
          class="save-password"
          (click)="resetPassword()"
          [disabled]="resetForm.invalid"
        >
          Save
        </button>
      </div>
    </div>
 
