.box {
  padding-top: 100px;
  width: 100%;
  height: 700px;
  // background-color:rgba(207, 200, 209, 0.575);
  // background-color:rgba(227, 222, 228, 0.274);
}

.user {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.profile-img {
  width: 260px;
  height: 200px;
}
.profile-img img {
  width: 100%;
  // height: 100%;
  object-fit:cover;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -25%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #272129b8;
}
.profile-img .file:hover{
  cursor:pointer;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
} .profile-img .file input:hover{
  cursor:pointer;
}
.info {
  height: 40px;
  background-color: transparent;
  border: 1px solid gray;
  padding: 0px 10px;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
  letter-spacing: 0.5px;
  margin: 10px;
}

.input {
  display: flex;
  align-items: center;
}
label {
  width: 200px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:440px;
  .save-password{
    justify-self: center;
    background-color:rgb(200, 196, 202);
    color: black;
  }
  .save-password:hover{
    background-color: #c4bfc9;
  }
  button {
    width: 92px;
    border: 2px solid white;
    
    padding: 5px;
    font-weight: 600;
  }
  button.clear {
    margin-top: 40px;
  }
  button.clear:hover {
    background-color: rgb(200, 197, 202);
  }
  button.save {
    background-color: #988ea2;
    color: white;
  }
  button.save:hover{
    background-color: #847c8b;
  }
}

.purple {
  background-color: rgb(164, 146, 180);
  bottom: 150px;
  right: 150px;
  transform: rotate(-30deg);
}
.blue {
  background-color: rgb(163, 198, 212);
  bottom: 20px;
  right: 300px;
  transform: rotate(-5deg);
}

.pink {
  background-color: rgba(148, 46, 97, 0.616);
  bottom: 30px;
  right: 30px;
  transform: rotate(20deg);
}
.background-rectangle {
  width: 100px;
  height: 100px;
  z-index: -1;
  position: absolute;
}
.background-circle {
  width: 500px;
  height: 500px;
  background-color: #9078b679;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  z-index: -1;
  position: absolute;
  bottom: -300px;
  left: -200px;
}
.info-text-div{
  margin-top:25%;
}

 .errorText{
   font-size: 13px;
 }
 .alert-div{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
 }
@media only screen and (max-width: 575px) {
  .container {
    font-size: 13px;
  }
  input {
    width: 80%;
  }
  ::placeholder {
    font-size: 12px;
  }
  label {
    width: 60px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    font-size: 15px;
  }
  input {
    width: 150px;
  }
  ::placeholder {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
}
