<div class="box">
  <div class="container box-container">
    <button class="back-to-shopping col-3 mb-3">BACK TO SHOPPING</button>
    <div class="alert alert-success" *ngIf="newOrder">
      <p>You successfully ordered your chosen books. We are processing the order. Thank you!</p>
    </div>
    <h3 class="items-added mb-3 mt-3 text-center" *ngIf="shoppingList?.length >0 && !newOrder">Items Added to your shopping Bag ({{shoppingList.length}})</h3>
    <table class="table" *ngIf="shoppingList?.length >0 && !newOrder">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Item</th>
          <th scope="col" class="text-center category-header">Category</th>
          <th scope="col" class="text-center quantity-header">Quantity</th>
          <th scope="col" class="text-center">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="t-row" *ngFor="let item of shoppingList">
          <th scope="row" class="item-number"></th>
          <td class="book-info col-4">
            <div class="flex-cont">
              <img [src]="item.thumbnail"/>
              <div class="info-txt">
                <h5>{{item.title}}</h5>
                <h6>By {{item.author}}</h6>
              </div>
            </div>
          </td>
          <td class="col-3"><div class="category text-center">{{item.subject}}</div></td>
          <td class="col-3">
              <div class="flex-cont justify-content-center">
            <div class="quantity">
                <div class="minus" (click)="decrementQuantity(item)">-</div>
                <h6 class="quantity-number text-center">{{item.quantity}}</h6>
                <div class="plus" (click)="incrementQuantity(item)">+</div>
                </div>
              <button type="button" class="btn btn-link" (click)="deleteItem(item)">REMOVE</button>
            </div></td>
          <td class="col-2">
            <div class="price text-center" *ngIf="item.price.toLowerCase()!=='free'">$ {{item.price}}</div>
            <div class="price text-center" *ngIf="item.price.toLowerCase()==='free'">Free</div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td class="ps-3"><b>Total</b></td>
        <td></td>
        <td></td>
        <td class="text-center"><b>{{totalPrice}}$</b></td>
      </tfoot>
    </table>
    <div class="d-flex col-12 justify-content-end mb-3 order">
    <button type="button" class="btn btn-warning col-2" (click)="order()" [ngClass]="{'d-none':!shoppingList?.length}">Order Now</button>
</div>
  </div>
</div>
