* {
  box-sizing: border-box;
}
.box-one {
  height: 500px;
  background-image: url("../../assets/images/books5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width:100%;
  margin: 0 auto;
}

.categories {
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: #eee8f1;
  padding: 40px;
}

.categories-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.category-card {
  min-width: 100px;
  padding: 12px 25px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(219, 211, 211);
  border-radius: 28px;
  height: fit-content;
  margin: 10px;
}
.category-card:hover {
  color: black;
  background-color: rgb(196, 189, 189);
  cursor:pointer;
}
.categories-img {
  width: 317px;
  height:317px;
  border-radius: 10px;
}

.shop-online {
  width: 100%;
  margin-top:7%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h3.best-selling-books{
  font-family:cursive;
}
.picture {
  width: 25%;
  img {
    width: 100%;
    border-radius: 10px;
  }
}
.shop-now-btn {
  width: 60%;
  padding-top: 50px;
  p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

.recommended-books {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 500px;
  background-color: #e8dfec;
  padding: 40px;
}

.book-card{
  width:21%;
  height:300px;
  margin-bottom:60px;
}


@media only screen and (max-width: 575px) { 
 .categories-list{
   width:100%;
 }
 .categories-img{
   display:none;
 }
 .shop-online{
   height:120px;
 }
 .shop-now-btn{
   padding:0px;
 }
 .picture{
   width:35%;
   height:150px;
 }
 .book-card{
   width:45%;
   margin-bottom: 40px;
 }
}

@media only screen and (min-width: 576px) and (max-width: 767px) { 
 .categories-img{
   width:200px;
   height:200px;
 }
 .book-card{
   width:40%;
   margin-bottom: 40px;
 }
 .shop-online{
  height:120px;
}
.shop-now-btn{
  padding:0px;
}
.picture{
  width:180px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1199px) { 
  .book-card{
    width:30%;
    margin-bottom: 40px;
  }
  .categories-img{
    width:30%;
    height:250px;
  }
  .shop-online{
    height:120px;
  }
  .shop-now-btn{
    padding:0px;
  }
  .picture{
    width:230px;
  }
}
