<div class="box-one"></div>
<div class="categories">
  <h3 class="text-center mb-5">Categories</h3>
  <div class="d-flex justify-content-between">
    <div class="categories-list">
      <!-- card -->
      <div class="category-card mb-3" *ngFor="let item of categories">
        <h5 class="card-title">{{ item }}</h5>
      </div>
    </div>
    <img
      class="categories-img"
      src="../../assets/images/book10.jpg"
      alt="book"
    />
  </div>
  <div class="shop-online mt-5">
    <div class="picture">
      <img src="../../assets/images/book122.jpg" />
    </div>
    <div class="shop-now-btn">
      <p>Are you interested? Click here and start shopping now <br /></p>
      <button type="button" class="btn btn-outline-warning" [routerLink]="['/book-search']">Shop Now</button>
    </div>
  </div>
  <h3 class="text-center mt-5">Best-selling Books</h3>
</div>
  <div class="recommended-books">
    <div class="book-card">
      <app-book-cards></app-book-cards>
    </div>
    <div class="book-card">
      <app-book-cards></app-book-cards>
    </div>
    <div class="book-card">
      <app-book-cards></app-book-cards>
    </div>
    <div class="book-card">
      <app-book-cards></app-book-cards>
    </div>
  </div>

