<div class="box-one"></div>
    <div class="categories">
        <h3 class="text-center mb-5">Categories</h3>
        <div class="d-flex justify-content-between">
        <div class="categories-list">
            <!-- card -->
            <div class="category-card mb-3" *ngFor="let item of categories">
                
                  <h5 class="card-title">{{item}}</h5>
            
              </div>
        </div>
        <img class="categories-img" src="../../assets/images/book10.jpg" alt="book">
        </div>
        <div class="shop-online mt-5">
            <div class="picture">
                <img src="../../assets/images/book122.jpg">
            </div>
            <div class="shop-now-btn">
                <p>Are you interested? Click here and start shopping now <br></p>
                <button type="button" class="btn btn-outline-warning">Shop Now</button>
            </div>
        </div>
        <h3 class="text-center">Best-selling Books</h3>
        <div class="recommended-books">
            <div class="card-dark mb-5">
                <div class="card-light">
                    <img src="../../assets/images/book8.jpg">
                    <div class="book-info">
                        <h5 >Pride and Prejudice</h5>
                        <p class="author">by Jane Austen</p>
                        <div class="d-flex justify-content-between">
                        <p class="pricing">3.45$</p>
                        
                        <button type="button" class="btn btn-outline-warning golden">Add To Cart</button>
                        </div>
                        </div>
                       
                </div>
            </div>
            <div class="card-dark">
                <div class="card-light"></div>
            </div>
            <div class="card-dark">
                <div class="card-light"></div>
            </div>
            <div class="card-dark">
                <div class="card-light"></div>
            </div>
            <div class="card-dark">
                <div class="card-light"></div>
            </div>
        </div>
    </div>

