* {
  box-sizing: border-box;
}
.box-one {
  height: 500px;

  background-image: url("../../assets/images/books5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
}

.categories {
  min-height: 300px;
  width: 95%;
  margin: 0 auto;
  background-color: #eee8f1;
  padding: 40px;
}

.categories-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.category-card {
  min-width: 100px;
  padding: 12px 25px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(219, 211, 211);
  border-radius: 28px;
  height: fit-content;
  margin: 10px;
}
.category-card:hover {
  color: black;
  background-color: rgb(196, 189, 189);
}
.categories-img {
  width: 25%;
  border-radius: 10px;
}

.shop-online {
  width: 95%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picture {
  width: 25%;
  img {
    width: 100%;
    border-radius: 10px;
  }
}
.shop-now-btn {
  width: 60%;
  padding-top: 50px;
}

.recommended-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 500px;
  background-color: #e8dfec;
  padding: 40px;
}

.book-card{
  width:21%;
  height:300px;
}