  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit odit sequi repellendus aliquid architecto vel, suscipit in dignissimos a doloribus rerum eaque voluptates qui iusto, reiciendis saepe voluptatem soluta obcaecati.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Shopping-cart</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="#">Bookstore Online</a>.
          </p>
        </div>
      </div>
    </div>
</footer>