<div class="box">
  <div class="cont d-flex">
    <div class="auth">
      <img
        src="https://image.flaticon.com/icons/png/128/570/570220.png"
        class="back-icon"
        [routerLink]="['/sign-in']"
      />
      <div class="row auth-info mt-0">
        <div class="error-text">
          <div
            class="alert alert-danger mb-0 text-center"
            *ngIf="firebaseAuthService.errorMessage"
          >
            <p class="m-0">{{ firebaseAuthService.errorMessage }}</p>
          </div>
        </div>
        <div class="info-text">
          <div
            class="alert alert-primary text-center"
            *ngIf="firebaseAuthService.infoMessage"
          >
            <p class="m-0">{{ firebaseAuthService.infoMessage }}</p>
          </div>
        </div>
        <h3 class="text-center">Forgot Password?</h3>
        <h6 class="text-center">We'll send you a reset email</h6>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetEmail()">
          <div class="col-sm-12 mb-2 mt-2 email-wrapper">
            <input
              type="email"
              class="form-control text-center"
              id="staticEmail"
              placeholder="Your Email Address"
              formControlName="email"
              [ngClass]="{ 'is-invalid': emailIsInvalid() }"
              autocomplete="off"
            />
          </div>
          <div class="col-12 text-center mt-4">
            <div
              class="wrapper col-4 mx-auto"
              (mouseenter)="buttonHover = true"
              (mouseleave)="buttonHover = false"
            >
              <button
                type="submit"
                class="btn btn-primary sign-up-btn col-10 me-0"
                [disabled]="forgotPasswordForm.invalid"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="thumbnail">
      <img src="../../../assets/images/book_and_flowers.jpg" />
    </div>
  </div>
</div>
