.main {
  height: 850px;
  display: flex;
  justify-content: flex-end;
}
.box {
  // background-color: rgba(207, 200, 209, 0.575);
  // background-color: rgba(230, 215, 215, 0.342);
  padding: 10px;
  min-height: 700px;
  width: 80%;
  padding: 100px 30px 30px 30px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.book-card {
  width: 21%;
  height: 300px;
  margin-bottom: 30px;
}
.search {
  height: 49px;
  background-color: transparent;
  border: 2px solid #c9c3c7;
  padding: 0px 15px;
  color: rgb(104, 86, 86);
  outline: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 10px;
}
::placeholder {
  color: rgba(104, 86, 86, 0.582);
}
.filters {
  margin-bottom: 20px;
  width: 100%;
}
.search-icon {
  position: relative;
  right: 15%;
  width: 32px;
  height: 32px;
}

.search-div {
  align-items: center;
}
.search-div input:first-child{
  margin-left:2px;
}
.max-items {
  align-self: center;
  justify-self: flex-end;
  justify-content: flex-end;
  color: rgb(104, 86, 86);
}
.background-line {
  left: 0px;
  position: absolute;
  top: 600px;
  height: 100px;
  width: 100%;
  transform: skewY(-40deg);
  border-radius: 10%;
  background-color: rgba(139, 38, 114, 0.466);
  z-index: -1;
}
.background-circle {
  width: 400px;
  height: 400px;
  background-color: #9078b679;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  z-index: -1;
  position: absolute;
  bottom: -100px;
  left: -30px;
}
.background-rectangle {
  width: 100px;
  height: 100px;
  z-index: -1;
  position: absolute;
}
.purple {
  background-color: rgb(164, 146, 180);
  bottom: 180px;
  right: 50px;
}
.pink {
  background-color: pink;
  bottom: 100px;
  right: 170px;
  transform: rotate(-12deg);
}

.red {
  background-color: rgb(179, 28, 103);
  bottom: 30px;
  right: 30px;
  transform: rotate(20deg);
}
.blue {
  background-color: #97c7dd94;
  top: 100px;
  left: 150px;
  width: 200px;
  height: 200px;
  transform: rotate(-20deg);
}
.pagination-container{
  width:fit-content;
  margin:0 auto;
}
.pagination ::ng-deep .ngx-pagination .current {
  background-color: rgb(177, 140, 180) !important;
}
@media only screen and (max-width: 575px) {
  .book-card {
    width: 48%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .book-card {
    width: 43%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .book-card {
    width: 31%;
  }
}
