<!-- Header -->
<header class="body" [class.fadeStepOne]="fadeSteps===1" [class.fadeStepTwo]="fadeSteps===2" [class.fadeStepThree]="fadeSteps===3"
[class.fadeStepFour]="fadeSteps===4" [class.fadeStepFive]="fadeSteps===5" [class.fadeStepSix]="fadeSteps===6">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']"
          ><h2>Bookstore <em>Online</em></h2></a
        >
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/home']"
                routerLinkActive="active"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/book-search']"
                routerLinkActive="active"
                >Books</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/wishlist']"
                routerLinkActive="active"
                >Wishlist</a
              >
            </li>
            
            <li
              class="nav-item"
            >
              <a
                class="nav-link"
                [routerLink]="['/books-read']"
                routerLinkActive="active"
                >Books Read</a> 
            </li>
            
         
          </ul>
        </div>
        <div class="functional-buttons">
          <ul>
            <!-- <li>
              <a
                class="logOut"
                >Log Out</a
              >
            </li> -->
            <!-- <li>
              <a
                [routerLink]="['/signIn']"
                routerLinkActive="active"
                >Sign In</a
              >
            </li> -->
            <li class="shopping-cart-icon" [routerLink]="['/shopping-cart']">
              <img src="../../assets/images/shopping-cart (2).png"/>
            </li>
            <li class="profile">
              <span>
              <img class="ms-3 profile-picture" [src]="profilePictureURL"/> {{displayName}}
              </span>
              <div class="dropdown-content">
                <ul class="dropdown-menu">
                  <li [routerLink]="['/profile']">
                    Profile
                  </li>
                  <li class="toggleVisible">
                    Home
                  </li>
                  <li class="toggleVisible">
                    Books
                  </li>
                  <li class="toggleVisible shopping">
                    Shopping-Cart
                  </li>
                  <li class="toggleVisible">
                    Wishlist
                  </li>
                  <li [routerLink]="['/admin-panel']">
                    Admin
                  </li>
                  <li (click)="signOut()">
                    Sign Out
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  