<div class="box">
  <div class="background-circle"></div>
  <div class="background-line"></div>
  <div class="background-rectangle light-pink"></div>
  <div class="background-rectangle pink"></div>
  <div class="background-rectangle gray"></div>
  <div class="background-rectangle blue"></div>
  <h2 class="text-center mb-3">Books I've Read</h2>
  <div class="d-flex filters">
    <div class="col-3 search-div d-flex">
      <input
        type="search"
        class="form-control search"
        id="searchTitle"
        name="searchTitle"
        placeholder="Search By Book"
        [(ngModel)]="searchTitle"
      />
      <img
        class="search-icon-book"
        src="../../assets/images/research-and-development (1).png"
      />
    </div>
    <div class="col-3 search-div d-flex">
      <input
        type="search"
        class="form-control search"
        id="searchAuthor"
        name="searchAuthor"
        placeholder="Search By Author"
        [(ngModel)]="searchAuthor"
      />
      <img
        class="search-icon-author"
        src="../../assets/images/research-and-development (1).png"
      />
    </div>
    
  </div>
  <div class="flex-container">
    <div class="book-card" *ngFor="let book of filteredBooks | paginate: { itemsPerPage: 10, currentPage: p }">
      <app-books-read-card [book]="book" (deleteBook)="deleteFromReadBooks($event)"></app-books-read-card>
    </div>
  </div>
  <div class="mt-5 pagination-container" *ngIf="filteredBooks.length>10">
  <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
  </div>
</div>
