<div class="box">
  <div class="top">
    <div class="col-2 app-title">
      <h5 class="ms-3 appName">BOOKSTORE ONLINE</h5>
    </div>
    <div class="search col-9">
      <input type="search" class="form-control" id="exampleInputEmail1" disabled>
    </div>
    <button class="col-1 sign-out" (click)="signOut()">Sign Out</button>
  </div>
  <div class="sidebar col-2">
    <div class="dashboard mb-2 d-flex" [routerLink]="['dashboard']" routerLinkActive="activeOption">
      <img src="../../assets/images/home-5-24.png">
      Dashboard</div>
    <div class="users mb-2 d-flex" [routerLink]="['users']" routerLinkActive="activeOption">
      <img src="../../assets/images/user-5-24.png">
      Users</div>
    <div class="wishlists mb-2 d-flex" [routerLink]="['wishlist-books']" routerLinkActive="activeOption">
      <img src="../../assets/images/list-24.png">
      Wishlists</div>
      <div class="wishlists mb-2 d-flex" [routerLink]="['books-sold']" routerLinkActive="activeOption">
        <img src="../../assets/images/books-24.png">
        Books Sold</div>
        <div class="wishlists mb-2 d-flex" [routerLink]="['books-reading-list']" routerLinkActive="activeOption">
          <img src="../../assets/images/literature-24.png">
          Books Read</div>
  </div>
  
   
  <router-outlet></router-outlet>


</div>