<div class="main">
    <div class="box col-10">
  <div class="option"[routerLink]="['wishlist']">
    <h4>{{adminService.activeUser.name ? adminService.activeUser.name : 'User'}}'s Wishlist</h4>
  </div>
  <div class="ms-5 me-5 option" [routerLink]="['shopping-cart']">
    <h4>{{adminService.activeUser.name ? adminService.activeUser.name : 'User'}}'s Shopping-cart</h4>
  </div>
  <div class="option"[routerLink]="['books-read']">
    <h4>{{adminService.activeUser.name ? adminService.activeUser.name : 'User'}}'s Reading List</h4>
  </div>
</div>
</div>
