.main {
    height: 450px;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
  }


 .box{
   height:250px;
   align-items: flex-end;
   display:flex;
   justify-content: space-between;
   margin-right:7%;
 }

 .option{
   padding:10px 20px;
   background-color:rgb(180, 167, 167);
   color:white;
   border-radius: 10px;
 }
 .option:hover{
   background-color: rgb(131, 58, 131);
   cursor:pointer;
 }
  