
    <div class="card-light">
      <img class="close-icon" src="https://image.flaticon.com/icons/png/128/2938/2938782.png"/>
        <img src="../../assets/images/book8.jpg" />
        <div class="book-info">
          <div class="info">
            <h6>
              Pride and Prejudice Pride and Prejudice Pride and PrejudicePride
              and Prejudice
            </h6>
            <p class="author">by Jane Austen Jane Austen jane austeeeeeen</p>
          </div>
          <div class="d-flex justify-content-between icons">
            <p class="pricing">3.45$</p>
  
            <!-- <button type="button" class="btn btn-outline-warning golden">
              Add To Cart
            </button> -->
            <div class="d-flex">
              <i class="fas fa-check-double fa-lg read">read</i>
            <i class="fas fa-shopping-cart fa-lg"></i>
            
          </div>
        </div>
      </div>
  
  