.pie-chart {
  position: relative;
  height: 500px;
}
.list {
  height:fit-content;
}
table:hover {
  cursor: default;
}
.main {
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px;
}
