<div class="main col-12">
  <div class="pie-chart col-10" *ngIf="wishlistTopBooks.length">
    <app-pie-chart
      [topBooks]="wishlistTopBooks"
      [chartText]="'Popular Books According to Wishlists'"
    ></app-pie-chart>
  </div>
  <div class="pie-chart col-10" *ngIf="shoppingCartTopBooks.length">
    <app-pie-chart
      [topBooks]="shoppingCartTopBooks"
      [chartText]="'Popular Books According to Shopping-lists'"
    ></app-pie-chart>
  </div>
  <div class="pie-chart col-10" *ngIf="booksReadTopBooks.length">
    <app-pie-chart
      [topBooks]="booksReadTopBooks"
      [chartText]="'Popular Books According to Books Read'"
    ></app-pie-chart>
  </div>
  <div class="list col-10 mt-5 p-5" *ngIf="wishlistTopUsers">
    <h2 class="mb-3">Top 5 Users (Wishlists)</h2>
    <app-table [topUsers]="wishlistTopUsers"></app-table>
  </div>
  <div class="list col-10 mt-5 p-5" *ngIf="shoppingCartTopUsers">
    <h2 class="mb-3">Top 5 Users (Shopping-list)</h2>
    <app-table [topUsers]="shoppingCartTopUsers"></app-table>
  </div>
  <div class="list col-10 mt-5 p-5" *ngIf="booksReadTopUsers">
    <h2 class="mb-3">Top 5 Users (Books Read)</h2>
    <app-table [topUsers]="booksReadTopUsers"></app-table>
  </div>
</div>
