<div class="box">
  <div class="cont d-flex">
    <div class="auth">
      <img src="https://image.flaticon.com/icons/png/128/570/570220.png"
      class="back-icon" [routerLink]="['/sign-in']"/>
      <div
        class="alert alert-danger text-center error-text"
        *ngIf="fireBaseAuthService.errorMessage"
      >
        <p class="m-0">{{ fireBaseAuthService.errorMessage }}</p>
      </div>
      <div class="row auth-info mt-2">
        <form [formGroup]="signUpForm" (ngSubmit)="register()">
          <div class="d-flex justify-content-between align-items-center">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="text-required">
              <em class="required" *ngIf="emailIsInvalid()"
                >Required Pattern: Must contain @ and a dot. No Uppercase
                letters. Forbidden Email - admin@test.com</em
              >
            </div>
          </div>
          <div class="col-sm-12 mb-4">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': emailIsInvalid() }"
              autocomplete="off"
            />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <label for="inputPassword" class="col-sm-2 col-form-label"
              >Password</label
            >
            <div class="text-required">
              <em class="required" *ngIf="passwordIsInvalid()"
                >Required Pattern: min(6), max(20) characters; Use all kind of
                Characters
              </em>
            </div>
          </div>
          <div class="col-sm-12 mb-3">
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': passwordIsInvalid() }"
              autocomplete="off"
            />
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <label for="inputPassword" class="col-sm-2 col-form-label"
              >Confirm</label
            >
            <div class="text-required" *ngIf="confirmPasswordIsInvalid()">
              <em class="required">Required. Passwords must match!</em>
            </div>
          </div>
          <div class="col-sm-12">
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': confirmPasswordIsInvalid() }"
              autocomplete="off"
            />
          </div>
          <div class="col-12 d-flex justify-content-end">
            <div
              (mouseenter)="buttonHover = true"
              (mouseleave)="buttonHover = false"
              class="sign-up"
            >
              <button
                type="submit"
                class="btn btn-primary mt-4 sign-up-btn"
                [disabled]="signUpForm.invalid"
              >
                Sign Up
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="thumbnail">
      <img src="../../../assets/images/wild.jpg" />
    </div>
  </div>
</div>
